.fl{float: left;}
.fr{float: right;}
.hide{display: none;}
.d-ib{display: inline-block;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mt-10{margin-top: 10px;}
.mb-10{margin-bottom: 10px;}
.ov-h{overflow: hidden;}


.__message{
    display:none;
    position:fixed;
    background:#f8a856;
    border:1px solid #F89406;
    color:#fff;
    top:0;
    left:50%;
    width:700px;
    margin-left:-350px;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
    height:35px;
    line-height:34px;
    text-align:center;
    z-index:99999;
}
.__message.mini{
    left:50%;
    width:300px;
    margin-left:-150px;
    height:30px;
    line-height:30px;
}
.__message>._m_btn_close{
  position: absolute;
  top: 1px;
  right: 1px;
  color: #fff;
  height: 15px;
  width: 15px;
  line-height: 15px;
  font-size: 12px;
  cursor: pointer;
}
.__message>._m_btn_close:hover{
  color:#333;
  background: #fff;
}
.__message>.btn{
  position: relative;
  top:-2px;
}

.dialog.modal{
  display: block;
  position: fixed;
  z-index: 9999;
  left: 50%;
  margin-left:-375px;
  top: 7%;
  bottom: auto;
  right: auto;
  width: 750px;
  background:#fff;
  border: 5px solid #006BB5;
  border-radius: 5px;
  height: auto;
}

.modal .modal-head{
  width:100%;
  height: 40px;
  line-height: 36px;
  font-size: 16px;
  background:#006BB5;
  padding: 0 10px;
  color:#fff;
}
.modal .modal-head .fr{
  width:25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}
.modal .modal-head .fr:hover{
  background: #fff;
  color:#006bb5;
}

.modal .modal-body{

  padding:20px 30px;
}

.modal .modal-foot{
  background: #F0F5F8;
  padding: 10px;
  height: 40px;
  text-align: right;
  border-top: 1px solid #CCC;
}

/* 标签样式 */
.tags{display: inline-block;}
.tags span {
  font: 12px/22px 'Microsoft Yahei',Arial,Lucida Grande,Tahoma;
  border: 1px #E3E0D9 solid;
  display: inline-block;
  height: 26px;
  background: #FFF;
  text-align: center;
  padding: 2px 7px;
  margin: 1px 4px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  overflow: hidden;
  color: #989898;
}
.tags strong{
  display:inline-block;
  margin-bottom:5px;
  position:relative;
  top:-9px;
}
.tags span.head{font-weight:bold;}
.tags span:hover {
  border-color: #357EBD;
}
.tags span.active {
  color: #FFF;
  border-color: #357EBD;
  background-color: #357EBD;
}
